// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
textarea {
  width: 100%
}

#md-editor {
}

#noteForm {
  // width: 50%;
}

#todolistForm {
  display: inline-block;
  display: none;
  position: fixed;
  bottom: 20px;
}

#untoggle {
  display: none;
}

.btn-group {
  display: block;
}

table, td, th {
  border: 1px solid black;
}

.noteItems {
  display: inline-block;
  text-align: center;
  margin-right: 10px;
  padding: 5px;
}
