// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body{
  background-color: #CECAC9;
}
.notesTitle{
  margin-left: 50%;
  font-family: Above DEMO, serif;
}
textarea {
  width: 100%
}

#md-editor {
}

#noteForm {
  // width: 50%;


}

#todolistForm {
  display: inline-block;
  display: none;
  position: static;
  top: 0px;
}

#untoggle {
  display: none;
}

.btn-group {
  display: block;
}

table, td, th {
  border: 1px solid black;
}

.noteItems {
  display: inline-block;
  text-align: center;
  margin-right: 10px;
  padding: 5px;
}

.todolist{
  background-color: white;
  padding: 20px 20px 20px 20px;
  margin-top: 10px;
}

.todolist h1{
  margin: 0;
  padding-bottom: 20px;
  text-align: center;
  background-color: white;
}

.form-control{
  border-radius: 0;
}
button{
  color: black;
}
li.ui-state-default{
  background: white;
  border: none;
  border-bottom: 1px solid black;
}

li.ui-state-default:last-child{
  border-bottom: none;
}

.vertical{
  width: 2px;
  background-color: black;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
}

.todo-footer{
  background-color: aliceblue;
  margin: 0px -20px -10px -20px;
  padding: 10px 20px;
}
#done-items li{
  padding:10px 0;
  border-bottom:1px solid #ddd;
  text-decoration:line-through;
}
#done-items li:last-child{
  border-bottom:none;
}
#checkAll{
  margin-top:10px;
}

footer{
  clear: both;
  position: fixed;
  bottom: 0;
  left: 0;
  padding-bottom: 16px;
  background: transparent;
  width: 100%;
  height: 43px;
  z-index: auto;
}
.footy{
  position: relative;
  overflow: hidden;
}
.social{
  display: inline;
  text-decoration: none;
}

#media{
  width: 25px;
  margin-right: 15px;
}
@media (min-width: 100px) {

}

@media (min-width: 200px) {

}

@media (min-width: 300px) {

}

@media (max-width: 500px) {

}

@media (min-width: 550px) {


}

@media (min-width: 750px) {

}

@media (min-width: 1000px) {


}

@media (min-width: 1200px) {

}
