<body style="background-color: #CECAC9<%= @colour %>">
<h1 class= "editNote">
  Editing <span id='noteHeader'>Note</span>
</h1>
<button type="button" name="button" id="listToggle">Toggle Todolist</button>
<button type="button" name="button" id="untoggle">Toggle Notes</button>

<%= render 'form', note: @note %>

<button><%= link_to 'Show', @note %></button>
<br>
<button><%= link_to 'Back', notes_path %></button>
<br><br><br>
