<h1>New Note</h1>

<body style="background-color: #CECAC9<%= @colour %>">
<button type="button" name="button" id="listToggle">Toggle Todolist</button>
<button type="button" name="button" id="untoggle">Toggle Notes</button>


<%= render 'form', note: @note %>

<button><%= link_to 'Back', notes_path %></button>
