<h1 class="editNote">
  New <span id='noteHeader'>Note</span>
</h1>

<body style="background-color: #CECAC9<%= @colour %>">
<button type="button" name="button" id="listToggle">Toggle Todolist</button>
<button type="button" name="button" id="untoggle">Toggle Notes</button>
<br><br>

<%= render 'form', note: @note %>

<button><%= link_to 'Back', notes_path %></button>
<br>
