<h1 class= "Title">
  NewHub
  <h1>DKHSDLHJDKFHLKFDLHJKFHLSDHLDFHHDFHSDLFHSFDHL</h1>
  <video poster="homeVid.mp4" id="homeVid" preload="auto" playsinline autoplay muted loop>
    <source src="homeVid.mp4" type="video/mp4">
  </video>
</h1>
