<h1 class= "Title focus-in-contract-bck">
  NoteHub

</h1>

<h4 id="titleCaption">
  A online hub that allows students to create documents and a to-do list for organizing thoughts.
</h4>
<span class= "NoteImage rotate-90-vertical-fwd">
  <%=image_tag("1494560242_note.png", id:'book')%>
</span>

  <!-- <video poster="homeVid.mp4" id="homeVid" preload="auto" playsinline autoplay muted loop>
    <source src="homeVid.mp4" type="video/mp4">
  </video> -->
  <video poster="343465699.mp4" id="343465699.mp4" preload="auto" playsinline autoplay muted loop>
    <source src="343465699.mp4" type="video/mp4">
  </video>


<span id="polina">
  <button onclick="pauseVid" id="pauseVid" type="button"> <%=image_tag("1494585147_PauseDisabled.png", class:'Jaunst')%>
  </button>


  <button onclick="playVid" id="playVid" type="button"> <%=image_tag("gtk_media_play_ltr.png", class:'Jaunst')%>
  </button>

</span>
