<h1 class= "Title focus-in-contract-bck">
  NoteHub

</h1>

<h4 id="titleCaption">
  A online hub that allows students to create documents and a to-do list for organizing thoughts.
</h4>
<span class= "NoteImage rotate-90-vertical-fwd">
  <%=image_tag("1494560242_note.png", id:'book')%>
</span>

  <video poster="homeVid.mp4" id="homeVid" preload="auto" playsinline autoplay muted loop>
    <source src="homeVid.mp4" type="video/mp4">
  </video>
  <div id="polina">
    <!-- <button onclick="pauseVid">Pause</button> -->
    <button onclick="pauseVid" type="button"> <%=image_tag("1494585147_PauseDisabled.png", class:'Jaunst')%>
    </button>

  </div>
